<div id="competency">
<mat-card>
<!-- Header part of the Matcard -->
<div class="titlebox">
  <div class="title">
    <span>Competency-Based Learning & Development Needs</span>
  </div>
  <div class="logo">
    <img src="./assets/mirdclogo.png">
    <h1>MIRDC</h1>
  </div>    
</div> 
<mat-divider></mat-divider>
   <div id="controls">  
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>
      <div>
        <button id="add" mat-button class="mat-elevation-z2" (click)="openDialog()">
          Add New
        </button>
        <button id="import" mat-button class="mat-elevation-z2">
          Import
        </button>
    </div>
  </div>

  <div class="mat-elevation-z0">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="division">
          <th mat-header-cell *matHeaderCellDef> Division </th>
          <td mat-cell *matCellDef="let element"> {{element.division}} </td>
        </ng-container>

        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef> <Section></Section> </th>
          <td mat-cell *matCellDef="let element"> {{element.section}} </td>
        </ng-container>

        <ng-container matColumnDef="division_chief">
          <th mat-header-cell *matHeaderCellDef> Division Chief </th>
          <td mat-cell *matCellDef="let element"> {{element.division_chief}} </td>
        </ng-container>

        <ng-container matColumnDef="date_submitted">
          <th mat-header-cell *matHeaderCellDef> Date Submitted </th>
          <td mat-cell *matCellDef="let element"> {{element.date_submitted}} </td>
        </ng-container>

        <ng-container matColumnDef="FAD_AGSS_Personnel">
          <th mat-header-cell *matHeaderCellDef> FAD-AGSS Personnel </th>
          <td mat-cell *matCellDef="let element"> {{element.FAD_AGSS_Personnel}} </td>
        </ng-container> 

        <ng-container matColumnDef="date_approved">
          <th mat-header-cell *matHeaderCellDef> Date Approved</th>
          <td mat-cell *matCellDef="let element"> {{element.date_approved}} </td>
        </ng-container> 

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container> 
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card>
</div>