<mat-toolbar class="header">
    <div id="title">  
        <div class="logo">
            <img src="./assets/mirdclogo.png">
        </div>
        <div id="description">
            <p class="tag">Republic of the Philippines</p>
            <p class="name">Metals Industry Research and Development Center</p>
            <p class="tag">Department of Science and Technology</p>
        </div>
    </div>
    
    <div class="menu">
        <div>
            <p class="time">
                <span>Philippine Time :</span>
                {{ today | date:'EEEE , MMMM d , y , h:mm a' }}
            </p>
        </div>
        <mat-divider vertical></mat-divider>   
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="menuClicked()">
            <mat-icon>list</mat-icon>
        </button>
    </div>  
</mat-toolbar>

