#body{
    box-sizing: border-box;
}
#controls{
    display: flex;
    justify-content: flex-end;
}
#controls > button{
    margin: 0 16px;
}

.labels{
    width: 30%;
}

mat-form-field{
    width:100%;
}

