.bg{
    background-color:#f2ede2 ;
    overflow: hidden; 
}
body{
    background-color:#f2ede2 ;
    overflow: hidden;
}

#title{
    display: inline-flex;
    align-items: center;
    width: 90px;
    height: 95%;
}
#logo{

    align-items: center;
    top: 100px;
    height: 25%;
 
 }
 .createimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:10%;
    height:20%;
    cursor: pointer;
}
 .header{
    background-color:#f2ede2 ;
 }
 .aio{
    margin-left: 20px;


 }
 #save-btn{
    display: flex;
    margin-left: 2%;
    margin-top:20px;
    background-color:#f58220 ;
    color: white;
 }


 #login{
    margin-top:20px;
    margin-left: 78%;
}

/* login */
   

.mat-card{

    width: 350px;
    height: 264px;
    align-items: center;
    text-align: center;
    margin: 3vh;
    border-radius: 1px;
  }
 
  mat-card-header{
  
    color: black;
    font-size:25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-left: 8%;
  }

 
  
  .button-style-next{
    background-color: #F48120;
    color: white;
    margin: 15px;
    justify-content: center;
    width: 260px;
    height: 35px;
    border-radius: 10px;
    
    
  }
  
  
  .login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    border-radius: none;
  }
  
  .bg {
    
    /* background-image: url("src/assets/CDA.png"); */
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .form-field-width{
    padding: 5px;
    width: 80%;
    color: #290001;
    text-align: center;
  }
  
  .icon-color{
    color: #F48120
  }
  
     
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    .inputpass{
        width: 290px;
        height: 27px;
        border-radius: 5px;
        position: relative;
        left: 0%;
        bottom: 25px;
    }

    mat-datepicker-toggle{
        position: relative;
        vertical-align: middle;
        bottom:-6px;
        right: 6%;
    }
    .inputconfirm{
        width: 290px;
        height: 27px;
        border-radius: 5px;
        position: relative;
        left: 0%;
        top: 13px;
    }
    .password{
        position: relative;
        right: 33%;
        padding-bottom: 5px;
        font-weight: 450;
        
    }
    .textusers{
        position: relative;
        left: 11%;
        padding-bottom: 5px;
        font-weight: 450;
        top: -24px;
        
    }
    
    .reenterpass{
        position: relative;
        padding-bottom: 5px;
        font-weight: 450;
        top: 47px;
        right: 24%;
        
    }

    .create{
        font-weight: 600;
        font-family: Arial;
    }
    
    #button-style-next {
        background-color: #F48120;
        color: white;
        margin: 15px;
        justify-content: center;
        width: 304px;
        height: 30px;
        border-radius: 5px;
        padding:none;
        line-height: 1px;
       margin: 1px;
    }
   
    #button-style-signin-google{
        padding-top: none;
        background-color: white;
        color: black;
        margin: 10px;
        justify-content: center;
        width: 304px;
        height: 30px;
        border-radius: 5px;
        padding:none;
        line-height: 1px;  
        border: black;
    }
    #signup{
       margin-top: 10px;
       margin-right: 4px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 15px;
       color: grey;
    }
      input{
       border-style:solid;
       border-color:lightgrey;
       font-family: Arial, Helvetica, sans-serif;
       text-indent: 15px;
        
      }

      .pwhide{
        width: 10px;
      }
      .material-icons{
        position: relative;
        bottom: 18px;
        right: 9%;
        font-size: 22px;
        color: grey;
        cursor: pointer;
      }
      .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }
   
      