<div id="body">
    <mat-card>
        <div id="provider">
        <div class="title">
            <img src="./assets/experts.png" class="image">    
            <h1>
                {{data.name_expert || 'Name of Expert'}}
            </h1>
        </div>
        <div class="details">
            <div class="sub">
                <mat-icon>area_chart</mat-icon>
                <span>Area of Expertise</span>
                <p>{{data.expertise || "Area of Expertise"}}</p>
            </div>
            <div class="sub">
                <mat-icon>attach_money</mat-icon>
                <span>Honoraria Rate</span>
                <p>{{data.rate || "Honoraria Rate per man-hour"}}</p>
            </div>  
        </div>
                <!-- Buttons -->
                <div id="buttons">
                    <button mat-raised-button id="edit" (click)="editClicked()">
                        Edit
                    </button>
                    <button mat-raised-button id="delete" (click)="deleteClicked()">
                        Delete
                    </button>
                </div>  
        </div> 
    </mat-card> 
</div>   
       <div id="rightcard">     
        <mat-card id="details" class="mat-elevation-z1">
            <mat-card-header>
                <h3>General Details</h3>   
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="block">
                <span>Source</span>
                <p>{{data.source || "Source"}}</p>
            </div> 
            <mat-divider></mat-divider>
            <br> 
            <div class="block">
                <span>Name of Company</span>
                <p>{{data.company || "Name of Company"}}</p>
            </div> 
            <mat-divider></mat-divider>
            <br> 
            <div class="block">
                <span>Other Affiliations</span>
                <p>{{data.affliations || "Other Affliations"}}</p>
            </div> 
            <mat-divider></mat-divider> 
        </mat-card>
        <mat-card id="contact-details" class="mat-elevation-z1">
            <mat-card-header>
                <h3>Contact Details</h3>
            </mat-card-header>
            <mat-divider></mat-divider>
            <table>
                
                <tr>
                    <td class="inline">
                        <span>Contact Number</span>
                    </td>
                    <td>
                        <p>{{data.number || "Contact"}}</p>
                    </td>
                </tr>

                <mat-divider></mat-divider>
                 
                <tr>
                    <td class="inline">
                        <span>Email Address</span>
                    </td>
                    <td>
                        <p>{{data.email || "Email Address"}}</p>
                    </td>
                </tr>

                <mat-divider></mat-divider> 

                <tr>
                    <td class="inline">
                        <span>FB Messenger or Viber Account</span>
                    </td>
                    <td>
                        <p>{{data.social_account || "FB Messenger or Viber Account"}}</p>
                    </td>
                </tr>

                <mat-divider></mat-divider> 

                <tr>
                    <td class="inline">
                        <span>Educational Background</span>
                    </td>
                    <td>
                        <p>{{data.educational_background || "Educational Background"}}</p>
                    </td>
                </tr>

                <mat-divider></mat-divider> 

                <tr>
                    <td class="inline">
                        <span>Specified Programs Conducted</span>
                    </td>
                    <td>
                        <p>{{data.programs_conducted || "Specified Programs Conducted"}}</p>
                    </td>
                </tr>
                <mat-divider></mat-divider> 
            </table>
        </mat-card>
    </div>
 
  