<div id="competency">
    <mat-card>
    <!-- Header part of the Matcard -->
    <div class="titlebox">
      <div class="title">
        <span>Competency-Based Learning & Development Needs</span>
      </div>
      <div class="logo">
        <img src="./assets/mirdclogo.png">
        <h1>MIRDC</h1>
      </div>    
    </div> 
    <mat-divider></mat-divider>
       <div id="controls">  
          <div>
           
            <mat-label>Division</mat-label>
             <mat-form-field class="example-full-width" appearance="legacy">
              <input matInput disabled>
            </mat-form-field> 
            
            <mat-label>Section</mat-label>
            <mat-form-field class="example-full-width" appearance="legacy">
                <input matInput disabled>
              </mat-form-field> 
          </div>
          <div>
            <button id="edit" mat-button class="mat-elevation-z2" (click)="openDialog()">
              Edit
            </button>
            <button id="delete" mat-button class="mat-elevation-z2">
              Delete
            </button>
        </div>
      </div>
<div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="competencies">
        <th mat-header-cell *matHeaderCellDef> Competency</th>
        <td mat-cell *matCellDef="let element"> {{element.competencies}} </td>
      </ng-container>

      <ng-container matColumnDef="lnd_needs">
        <th mat-header-cell *matHeaderCellDef> Specific L&D Needs</th>
        <td mat-cell *matCellDef="let element"> {{element.lnd_needs}} </td>
      </ng-container>

      <ng-container matColumnDef="employee_name">
        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
      </ng-container>

      <ng-container matColumnDef="exisiting_level_proficiency">
        <th mat-header-cell *matHeaderCellDef> Level of Proficiency</th>
        <td mat-cell *matCellDef="let element"> {{element.exisiting_level_proficiency}} </td>
      </ng-container>

      <ng-container matColumnDef="required_proficiency">
        <th mat-header-cell *matHeaderCellDef> Required Proficiency</th>
        <td mat-cell *matCellDef="let element"> {{element.required_proficiency}} </td>
      </ng-container> 

      <ng-container matColumnDef="level_priority">
        <th mat-header-cell *matHeaderCellDef>Level of Priority</th>
        <td mat-cell *matCellDef="let element"> {{element.level_priority}} </td>
      </ng-container> 

      <ng-container matColumnDef="lnd_methodology">
        <th mat-header-cell *matHeaderCellDef>L&D Methodology</th>
        <td mat-cell *matCellDef="let element"> {{element.lnd_methodology}} </td>
      </ng-container> 

      <ng-container matColumnDef="performance_Indicator_Support">
        <th mat-header-cell *matHeaderCellDef>Performance Indicator Support</th>
        <td mat-cell *matCellDef="let element"> {{element.performance_Indicator_Support}} </td>
      </ng-container> 

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons 
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
<div id="details">
  <div class="person">
    <div>
    <mat-label>Submitted By</mat-label>
     <mat-form-field class="example-full-width" appearance="legacy">
      <input matInput disabled> 
      <mat-hint align="end">Chief Division</mat-hint>
    </mat-form-field>
    
    </div>
    <div>
    <mat-label>Date</mat-label>
    <mat-form-field class="example-full-width" appearance="legacy">
        <input matInput disabled>
      </mat-form-field> 
    </div>
  </div>

  <div class="person">
    <div>
    <mat-label>Approved By</mat-label>
     <mat-form-field class="example-full-width" appearance="legacy">
      <input matInput disabled>
      <mat-hint align="end">FAD-AGSS Personnel</mat-hint>
    </mat-form-field> 
    </div>
    <div>
    <mat-label>Date</mat-label>
    <mat-form-field class="example-full-width" appearance="legacy">
        <input matInput disabled>
      </mat-form-field> 
    </div>
  </div>
</div>
    </mat-card>