.mat-elevation-z8{
    height: 628px;
}
mat-card{
    padding:2%;
     width:auto;
   /* margin:0 10%; */
     overflow: auto;

}
#header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: #6c757d;
    height: 10px;
}
.frame{
    
    height: 600px;
}





