#competency{
    padding-top: 20px;
} 
/* Header part of the Matcard */
.titlebox{
    display: flex;
    flex: 2;
    justify-content: space-between;   
}
.title{
    padding-top: 16px;
}
.logo{
    display: inline-flex;
    align-content: center;
}
img {
    width: 100px;
    height:90%;
}
span{
    font-size: larger;
    font-weight: bold;
}
.chips{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
mat-chip{
    color: white !important;
    justify-content: center;
    width: 100px;
}

/* Competency Data Source Table */
table{
    width: 100%;
    margin-top: 16px;
    background-color: white;
}
tr:hover{
    background-color: whitesmoke;
    font-weight: 500;
}

th{
    background-color:#0D4E86;
    color: white;
}

.save{
    display: flex;
    justify-content: right;
    margin-top: 16px;
}
.save button{
    background-color: rgb(56, 123, 56);
    color: white !important;
  }

  #controls{
      display: flex;
      width: 100%;
      justify-content: flex-end;
  }


