
<div class='bg'>

    <img src="../../../assets/logo.png" (click)="home()" class="createimg">

    <div class='login-form-flex'>
        <mat-card style="border-radius:0px;">
            <mat-card-header class="create">Create Password</mat-card-header>

            <form (ngSubmit)="login(loginForm.value)" #loginForm ='ngForm'>
                <div class="password">Password </div>
                <div class="reenterpass">Re-enter password</div>

                <input 
                class="inputpass"
                placeholder="Password"
                [type]="hide ?'password':'text'"
                [(ngModel)]="password"
                name="password"
                >
                <mat-icon class="pwhide" matSuffix (click)="hide=!hide">
                    {{hide?'visibility_off':'visibility'}}
                </mat-icon>

                <input 
                class="inputconfirm"
                placeholder="Confirm Password"
                [(ngModel)]="confirmpass"
                name="confirmpass"
                >
            
                <br> <br> <br>
                <button mat-button id='button-style-next'>Next</button>
            </form>
        </mat-card>
    </div>

</div>

<!-- <div id='snackbar'>Password changed</div> -->
