
 
<!-- Subjects -->

 
<mat-sidenav-container>

    <mat-sidenav></mat-sidenav>
    <app-sidenav></app-sidenav>
    <mat-sidenav-content>
       
        <div class="content mat-elevation-z8">
            <table class="header">
                <tr>
                    <td class="col-1">
                        <p class="dash"> Subjects </p>
                        
                    </td>
            
                    <td class="col-2">
                        <!-- <mat-icon class="iconsearch">search</mat-icon>
                        <input type="text" class="box" apperance="fill" placeholder="Search"> -->
                    </td>
            
                    <td>
                        <!-- <mat-icon style="color:lightgrey;">notifications</mat-icon> -->
                    </td>
                    <td class="col-3">
                        
                        <div class="usercontainer">
                            <p class="usertext">{{fname}} {{lname}}</p>
                            <p class="jobtext">student</p>
                        </div>
            
                    </td>
                </tr>
            </table>
            <mat-grid-list cols="2" rowHeight="4:1" [gutterSize]="'1rem'" >
                <mat-grid-tile class="tile1" ><img src="../../../assets/math.png" width="100%" height="auto" max-width="680px" (click)=" navigateToMath()"></mat-grid-tile>
                <mat-grid-tile class="tile1"><img src="../../../assets/science.png" width="100%" height="auto" max-width="680px"(click)=" navigateToScience()" ></mat-grid-tile>
                <mat-grid-tile class="tile1"><img src="../../../assets/english.png" width="100%" height="auto" max-width="680px" (click)=" navigateToEnglish()"></mat-grid-tile>
                <mat-grid-tile class="tile1"><img src="../../../assets/AP.jpg" width="100%" height="auto" max-width="680px" (click)=" navigateToAP()"></mat-grid-tile>
              </mat-grid-list>
        </div>
        
      </mat-sidenav-content>
      
    </mat-sidenav-container>