
 <!-- view grade -->


 
<mat-sidenav-container>

    <mat-sidenav></mat-sidenav>
    <app-sidenav></app-sidenav>
    <mat-sidenav-content>
       
        <div class="content mat-elevation-z8">
            <table class="header">
                <tr>
                    <td class="col-1">
                        <p class="dash"> Announcement </p>
                        <p style="font-size:10px;color:grey"> 10 January 2023 </p>
                    </td>
            
                  
            
                    <td>
                        <mat-icon style="color:lightgrey;">notifications</mat-icon>
                    </td>
                    <td class="col-3">
            
                        <div class="usercontainer">
                            <p class="usertext">First Name</p>
                            <p class="jobtext">Course</p>
                        </div>
            
                    </td>
                </tr>
            </table>

        </div>
        
      </mat-sidenav-content>
      
    </mat-sidenav-container>