<div class='bg'>

    <div class='login-form-flex'>
        <mat-card style="border-radius:0px;height: 238px;">
            <mat-card-header class="sign">Thank you for signing up!</mat-card-header>

            <form>
              
       <div id="terms">Check your email.We sent you a link to complete <br>
                        your registration process.</div>

                    <div id="terms">Having trouble? <p> Contact Us </p></div>
           
            
                <button mat-button id='button-style-return' (click)="home()" >Return to homepage</button>
 
          
           
               
                
                
            </form>
        </mat-card>
    </div>

</div>

<!-- <div id='snackbar'>Password changed</div> -->
