<h2>{{detail.FileName}}</h2>
<div>Profile : {{detail.NewProfile}}</div>
<br>
<div>SampleID : {{detail.SampleID}}</div>
<br>
<div>Capture Kit : {{detail.CaptureKit}}</div>
<br>
<div>Regex : {{detail.Regex}}</div>
<br>
<div>Timestamp: {{detail.TimeStamp}} </div>
<br>
<div>Data Class {{detail.DataType}}</div>
<br>
<div>Specimen Type : {{detail.SpecimenType}}</div>
<br>
<div>Cancer Type : {{detail.CancerType}}</div>
<br>
<div>Sequence Type : {{detail.SequenceType}}</div>
<br>    
<div>Site: {{detail.Site}}</div>
