<mat-dialog-content  id="form">
    <mat-card class="mat-elevation-z0">
        <mat-card-title> Create Competency - Based L&D Needs table</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    
    <div id="dataform">
    <div class="data">
           
                <div class="inputdata">
                  <span>Section</span>
                  <mat-form-field appearance="outline">
                    <input matInput>
                  </mat-form-field>
                </div>

        <div class="inputdata">
          <span>Competencies</span>
          <mat-form-field appearance="outline">
            <input matInput matTooltip="To acquire or improve">
          </mat-form-field>
        </div>
    
        <div class="inputdata">
          <span>Specific L&D Needs</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
    
        <div class="inputdata">
          <span>Name of the Employee</span>
          <mat-form-field appearance="outline">
            <input matInput matTooltip="To be developed">
          </mat-form-field>
        </div>
      </div>
      <div class="data">
        <div class="inputdata">
          <span>Employee Existing Level of Proficiency</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
    
        <div class="inputdata">
          <span>Required Proficiency</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
        
        <div class="inputdata">
          <span>Level of Priority</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="data">
        <div class="inputdata">
          <span>L&D Methodology</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
    
        <div class="inputdata">
          <span>Performance Indicator to Support</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      </div>

      <div id="controls">
        <button mat-raised-button type="button" >Cancel</button>
        <button mat-raised-button type="submit" color="primary" >Save</button>
    </div>
    </mat-card>
    
    
      <!-- Edit Add & Delete Actions -->
      <!-- <div class="chips">
        <mat-chip-list aria-label="Fish selection">
              <mat-chip style="background-color:rgb(47, 47, 104);">Edit</mat-chip>
              <mat-chip style="background-color:rgb(54, 120, 54);">Add</mat-chip>
              <mat-chip style="background-color:rgb(131, 56, 56);">Delete</mat-chip>
        </mat-chip-list>       
      </div> -->
    