
    <mat-card class='mat-elevation-z8'>
  <mat-toolbar id='header'>
    <mat-toolbar-row class="toolbarrow">
       
     
      <div id='header-div'>
        <h2 class="textheader">Dashboard</h2>



        <input 
        type="text" 
        class="box" 
        apperance="fill"
        placeholder="Search"
        >


      
      </div>

      <div class="usercontainer">
        <p class="usertext">Username</p>
        <p class="jobtext">Jobtitle</p>
    </div>
        
    </mat-toolbar-row>

   
   
  </mat-toolbar>


  <div class="graphcontainer">
    
    graph
  </div>


  <div class="graphnews">
    
    news
  </div>


  <div class="graphrecent">
    
    recent
  </div>


     </mat-card>