.title{
    font-size: small;
}
#sidecard{
    margin-top:80px !important;
}
#sidecard span{
    padding-left: 16px;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#sidecard mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
}

mat-card{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
.text{
    font-size: small;
}

mat-card span {
    font-size: small;
    padding-left: 6px;
}
/* Sidecard setting */
.settings{
    display: flex;
    width: 250px;
    padding-left: 27px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}
/* Avatar */
.avatar{
    display: flex;
    align-items: center;
}
p {
    font-family: Lato;
  }
  
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
    font-size: smaller;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }
 