.newProfile {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    margin-left: 27%;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.sampleID {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    margin-right: 55px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.captureKit {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.regex {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    margin-right: 55px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.specimenType {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.cancerType {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.sequenceType {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    margin-right: 55px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;
}

.site {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;

}

.dataClass {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    margin-right: 55px;
    background-color: #eef0f1;
    border-color: lightgrey;
    border-style: double;

}

#controls {

    display: flex;
    justify-content: flex-end;
}

.uploadbttn {
    font-size: 13px;
    font-family: arial;
    background-color: #F48120;
    color: white;
    margin-right: 1px;
    width: 88px;
    height: 25px;
    line-height: 0px;
}

#closeicon {
    top: 3px;
    position: relative;
    left: 70%;
    cursor: pointer;
}

.selectcapturekit {
    border-style: double;
    border-color: lightgrey;
    width: 200px;
    height: 26px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #eaebeb;
    position: relative;
    color: gray;
    font-size: 14px;
}

.selectdataclass {
    border-style: double;
    border-color: lightgrey;
    width: 200px;
    height: 26px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #eaebeb;
    position: relative;
    color: gray;
    font-size: 14px;
    margin-right: 55px;

}

.selectsequencetype {
    border-style: double;
    border-color: lightgrey;
    width: 200px;
    height: 26px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #eaebeb;
    position: relative;
    color: gray;
    font-size: 14px;
    margin-right: 55px;

}

.selectnewprofile {
    border-style: double;
    border-color: lightgrey;
    width: 200px;
    height: 26px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #eaebeb;
    position: relative;
    color: gray;
    font-size: 14px;
    margin-left: 27%;

}