<div class="header">

    <div class="upload-title">
        <h3 style="margin:none ;">Teacher</h3>
        <h6 style="color:grey ;">01 January, 2022</h6>
    </div>
</div>


<br><br><br>
<div id="competency">


    <!-- Viewallcompetency -->
    <mat-card>
        <!-- Header part of the Matcard -->
       


<div id="competency">
    <mat-card>
    <!-- Header part of the Matcard -->
    <div class="titlebox">
      <div class="title">
        <span>Math</span>
      </div>
      <div class="logo">
        <img src="./assets/mirdclogo.png">
        <h1></h1>
      </div>    
    </div> 
    <mat-divider></mat-divider>
  
  
    <mat-tab-group>
  
      <!-- get all competency -->
      <mat-tab label="Students">
      <div id="controls">  
          <div>
            <div>
              <form #form="ngForm">
              <mat-form-field class="example-full-width" appearance="outline"  id="searchbox">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput placeholder="Search" name="search" ngModel >
              </mat-form-field>
  
              <mat-form-field appearance="outline" id="datepicker">
                <mat-label>Date Filter</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" name="start_date" ngModel>
                  <input matEndDate placeholder="End date" name="end_date" ngModel >
                </mat-date-range-input>
                <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
  
              <mat-form-field id='status-dropdown' class="example-full-width" appearance="outline">
                <mat-select
                ngModel
                name="status_filter"
               
                placeholder="Filter by status"
                >
                  <mat-option
                   
                   
                  >
                   
                  </mat-option>
                  <mat-option>Clear filter</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
         
          </div>
          
  
          <div>
  
          <button
          id="upload-button"
          mat-button
          color="primary" 
          matTooltip="Print" 
       
          printSectionId="print-section" 
          ngxPrint
       ><mat-icon>print</mat-icon> Generate Report</button>
  
         
        </div>
      </div>
      <div class="mat-elevation-z0">
      <div id="print-section">
     
          <table mat-table [dataSource]="dataSource">
  
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.competencyName || 'Not Available'}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Grade">
              <th mat-header-cell *matHeaderCellDef> Grade</th>
              <td mat-cell *matCellDef="let element"> {{element.divisionName || 'Not Available'}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Section">
              <th mat-header-cell *matHeaderCellDef> Section </th>
              <td mat-cell *matCellDef="let element"> {{element.divisionChief || 'Not Available'}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Year">
              <th mat-header-cell *matHeaderCellDef> Year</th>
              <td mat-cell *matCellDef="let element">
                <ng-template  [ngIf]="element.divAppDate != '0000-00-00 00:00:00'">
                  {{element.createdOn | date:'mediumDate'}}
                </ng-template>

              </td>
            </ng-container>

  
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status</th>
              <td mat-cell *matCellDef="let element"> {{element.compStatus}} </td>
            </ng-container> 
              <tr mat-header-row *matHeaderRowDef="StudentsdisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: StudentsdisplayedColumns;" ></tr>
          </table>
  
         </div>
        
          <mat-paginator 
          [length]="total"
          [pageSize]="pageSize"
          [pageIndex]="pageNo -1"
          [pageSizeOptions]="[5,10,25,100]"
          aria-label="Select page"
          (page)= "onPaginate($event)"
          >
          </mat-paginator>
        </div>
      </mat-tab>



      <mat-tab label="Activities">
        <div id="controls">  
            <div>
              <div>
                <form #form="ngForm">
                <mat-form-field class="example-full-width" appearance="outline"  id="searchbox">
                  <mat-icon matSuffix>search</mat-icon>
                  <input matInput placeholder="Search" name="search" ngModel >
                </mat-form-field>
    
                <mat-form-field appearance="outline" id="datepicker">
                  <mat-label>Date Filter</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" name="start_date" ngModel>
                    <input matEndDate placeholder="End date" name="end_date" ngModel >
                  </mat-date-range-input>
                  <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
    
                <mat-form-field id='status-dropdown' class="example-full-width" appearance="outline">
                  <mat-select
                  ngModel
                  name="status_filter"
                 
                  placeholder="Filter by status"
                  >
                    <mat-option
                     
                     
                    >
                     
                    </mat-option>
                    <mat-option>Clear filter</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
           
            </div>
            
    
            <div>
              <!-- <button id="add" mat-button class="mat-elevation-z2" (click)="openDialog()">
                Add New
              </button> -->
              <!-- <button id="import" mat-button class="mat-elevation-z2">
                Import
              </button> -->
          </div>
          <div>
            <!-- <button id="upload-button" mat-raised-button color='primary' >
              <mat-icon matPrefix style="margin-right:16px">backup</mat-icon>Upload New File
            </button> -->
    
            <button
            id="upload-button"
            mat-button
            color="primary" 
            matTooltip="Print" 
         
            printSectionId="print-section" 
            ngxPrint
         ><mat-icon>print</mat-icon> Generate Report</button>
    
           
          </div>
        </div>
        <div class="mat-elevation-z0">
        <div id="print-section">
       
            <table mat-table [dataSource]="activityData">
    
              <ng-container matColumnDef="Activity">
                <th mat-header-cell *matHeaderCellDef> Activity </th>
                <td mat-cell *matCellDef="let element"> {{element.FileName || 'Not Available'}} </td>
              </ng-container>
    
              <ng-container matColumnDef="Detail">
                <th mat-header-cell *matHeaderCellDef> Detail </th>
                <td mat-cell *matCellDef="let element"> {{element.instructions || 'Not Available'}} </td>
              </ng-container>
    
              <ng-container matColumnDef="Duration">
                <th mat-header-cell *matHeaderCellDef> Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.start_date || 'Not Available'}} - {{element.end_date}} </td>
              </ng-container>
    
              
  

                <tr mat-header-row *matHeaderRowDef=" ActivitydisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns:  ActivitydisplayedColumns;" ></tr>
            </table>
    
           </div>
          
            <mat-paginator 
            [length]="total"
            [pageSize]="pageSize"
            [pageIndex]="pageNo -1"
            [pageSizeOptions]="[5,10,25,100]"
            aria-label="Select page"
            (page)= "onPaginate($event)"
            >
            </mat-paginator>
          </div>
        </mat-tab>
  
    
    
  
    </mat-tab-group>
      </mat-card>
  
      
    </div>
  
    