body{
    background-color:#f2ede2 ;
    overflow: hidden;
}

#title{
    display: inline-flex;
    align-items: center;
    width: 90px;
    height: 95%;
}
.logo{
    /* height: 100%;
    align-items: center;
    padding-left: 16px; */
    height: 25%;
 
 }

 .header{
    background-color:#f2ede2 ;
 }
 .aio{
    /* margin-left: 20px; */
    /* height: 40px; */
    cursor: pointer;
    transform: scale(.2);
    bottom: 280px;
    right:250px;
    position: relative;

 }
 #save-btn{
    display: flex;
    margin-left: 2%;
    margin-top:20px;
    background-color:#f58220 ;
    color: white;
 }


 #login{
    margin-top:20px;
    margin-left: 78%;
}

/* login */
   

.regcard{

    width: 350px;
    height: 376px;
    align-items: center;
    text-align: center;
    margin: 3vh;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
 
  /* mat-card-header{
  
    color: black;
    font-size:25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-left: 23%;
  } */

 
  
  .button-style-signin{
    background-color: #F48120;
    color: white;
    margin: 15px;
    justify-content: center;
    width: 260px;
    height: 35px;
    border-radius: 10px;
    
    
  }
  
  
  .login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-radius: none;
  }
  
  .bgs {
    
    /* background-image: url("src/assets/CDA.png"); */
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .form-field-width{
    padding: 5px;
    width: 80%;
    color: #290001;
    text-align: center;
  }
  
  .icon-color{
    color: #F48120
  }
  
  
  
    #snackbar {
      visibility: hidden; 
      min-width: 250px;
      margin-left: -125px; 
      background-color: #333;
      color: #fff; 
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed; 
      z-index: 1;
      left: 50%;
      bottom: 30px; 
    }
    
   
    #snackbar.show {
      visibility: visible; 
      
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    .username{
        width: 309px;
        height: 27px;
        border-radius: 5px;
    }
    .emailinput{
        margin-right: 221px;
        padding-bottom: 5px;
        font-weight: 450;
    }
    .textpass{
        margin-right: 200px;
        padding-bottom: 5px;
        font-weight: 450;
    }
    .sign{
        font-weight: 600;
        font-family: Arial;
        color: black;
        font-size:25px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 15px;
        margin-left: 23%;
    }
    
    #button-style-create {
        background-color: #F48120;
        color: white;
        margin: 15px;
        justify-content: center;
        width: 304px;
        height: 30px;
        border-radius: 5px;
        padding:none;
        line-height: 1px;
       margin: 1px;
    }
    #button-style-create-error{
      background-color: #ded7d7;
      color: white;
      margin: 15px;
      justify-content: center;
      width: 304px;
      height: 30px;
      border-radius: 5px;
      padding:none;
      line-height: 1px;
     margin: 1px;

    }
    #terms{
        font-weight: 500;
        padding-bottom: 20px;
        font-size: 14px;
        border: black;
        margin-left: -18px;
        
    }
    #button-style-signin-google{
        padding-top: none;
        background-color: white;
        color: black;
        margin: 10px;
        justify-content: center;
        width: 304px;
        height: 30px;
        border-radius: 5px;
        padding:none;
        line-height: 1px;  
        border: black;
    }
    #signup{
       margin-top: 10px;
       margin-right: 4px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 15px;
       color: grey;
    }
    p{
        display: inline-flex;
        margin-block-end: 0;
        color:#F48120;
        margin-block-start: 1px;
        cursor: pointer;
    }
    nav{
        flex: 1;
        text-align: right;
      }
      nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: -26px;
        padding-right: 5%;
      }
    
      .navbar{
        width: 100%;
        display: flex;
        align-items: center;
      }
      .check{
        padding-left: 10px;
        position: relative;
       right: 21px;
       top: -2px;

      }
      .mat-checkbox{
        margin-left:19px;
      }
      input{
       border-style:solid;
       border-color:lightgrey;
       font-family: Arial, Helvetica, sans-serif;
       text-indent: 15px;
        
      }
      /* .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    } */
    .googles{
        width: 30px;
    }
   
        