
<div class='bg'>

    <img src="./assets/aionco.png"  class="createimg" (click)="home()">

    <div class='login-form-flex'>
        <mat-card style="border-radius:10px;">
            <mat-card-header class="forgottitle">Forgot Password?</mat-card-header>

            <form (ngSubmit)="fgtemail(loginForm.value)" #loginForm='ngForm'>
                <div class="sendcode">Enter your email below and we'll send you a 
                    verification code.
                </div>
                <div class="emailrecovery">Email Address</div>
  
                <input 
                class="inputrecoveryemail"
                placeholder="Email Address"
                [(ngModel)]="email"
                name="email"
                >
            
                <br> <br> <br>
                <button mat-button id='button-style-send' (click)="send()" >Send</button>
            </form>
        </mat-card>
    </div>

</div>

<!-- <div id='snackbar'>Password changed</div> -->
