<div class="list">
   <!-- Change Avatar  -->
    <div id="avatar">
        <button *ngIf="url" (click)="delete()" >delete</button>
        <input id="fileInput" type='file' (change)="onSelectFile($event)">  
        <div id="avatarmenu">
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
                <span>Admin</span>
                <mat-icon 
                matTooltip="Logout"
                matTooltipPosition="after">logout</mat-icon>
                <br>            
        </div>
    </div>
  
    <mat-divider></mat-divider> 

<mat-list role="list">
    <mat-list-item role="listitem">
        Dashboard<mat-icon>dashboard</mat-icon>
    </mat-list-item>
    <mat-list-item role="listitem" (click)="toggleShow()">
        Data Source<mat-icon>table</mat-icon>
    </mat-list-item>
       <!-- Under DataSource -->
            <mat-list-item role="listitem"  *ngIf="isShown" class="sublist">
               Competency Needs <mat-icon>center_focus_strong</mat-icon>
            </mat-list-item>
            
            <mat-list-item role="listitem"  *ngIf="isShown" class="sublist">
               Employee <mat-icon>badge</mat-icon>
            </mat-list-item>
        <!-- Under DataSource End -->
    <mat-list-item role="listitem">
        <mat-icon>summarize</mat-icon>Reports
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon>library_books</mat-icon>Library
    </mat-list-item>
  </mat-list>
</div>