
<!-- This is the header -->
<div id="header">
    <app-header (menuClickedEvent)="toggleSideNav()"></app-header>
    <div id="topheader">
      <app-navbar [ngClass]="sideNavVisible==true?'bottom-nav':'top-nav'"></app-navbar>
    </div>
  </div>  

<!-- This is the body -->
    <div class="body">
      <mat-drawer-container hasBackdrop="false">
        <mat-drawer #sideNav mode="over"  [opened]="sideNavVisible" >
         <app-sidecards></app-sidecards>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
  </div> 

<div class="container">
<img class="img" src="./assets/Landing Page 1.jpg">
<div class="centered">Aionco Highlight</div>

<div class="about">something here</div>
<button mat-raised-button id="getstart-bttn" >Get Started</button>

</div>



